<?xml version="1.0" encoding="UTF-8" ?>
<!--
    HYPERPC - The shop of powerful computers.

    This file is part of the HYPERPC package.
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.

    @package    HYPERPC
    @license    Proprietary
    @copyright  Proprietary https://hyperpc.ru/license
    @link       https://github.com/HYPER-PC/HYPERPC
    @author     Sergey Kaslistratov <kalistratov.s.m@gmail.com>
-->
<phpunit bootstrap="tests/autoload/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         syntaxCheck="true"
         stopOnError="true"
         stopOnFailure="true"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         verbose="false"
>

    <testsuites>
        <testsuite name="Joomla">
            <directory suffix="Test.php">./tests/cases</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./administrator/components/com_hyperpc</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="coverage-html" target="build/phpunit" lowUpperBound="80" highLowerBound="95"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false" showOnlySummary="true"/>
    </logging>

</phpunit>