<?xml version="1.0" encoding="UTF-8"?>
<form>
    <field name="server_key" type="text" required="true"
        label="MOD_HP_MICROTRANSACTION_FORM_FIELD_SERVER_KEY_LABEL"
        description="MOD_HP_MICROTRANSACTION_FORM_FIELD_SERVER_KEY_DESC" />

    <field name="server_host" type="text" required="true"
        label="MOD_HP_MICROTRANSACTION_FORM_FIELD_SERVER_HOST_LABEL"
        description="MOD_HP_MICROTRANSACTION_FORM_FIELD_SERVER_HOST_DESC" />

    <field name="server_port" type="text" required="true"
        label="MOD_HP_MICROTRANSACTION_FORM_FIELD_SERVER_PORT_LABEL"
        description="MOD_HP_MICROTRANSACTION_FORM_FIELD_SERVER_PORT_DESC" />

    <field name="server_route" type="text"
        label="MOD_HP_MICROTRANSACTION_FORM_FIELD_SERVER_ROUTE_LABEL"
        description="MOD_HP_MICROTRANSACTION_FORM_FIELD_SERVER_ROUTE_DESC" />

    <field name="server_login" type="text"
        label="MOD_HP_MICROTRANSACTION_FORM_FIELD_SERVER_LOGIN_LABEL"
        description="MOD_HP_MICROTRANSACTION_FORM_FIELD_SERVER_LOGIN_DESC" />

    <field name="server_password" type="text" required="true"
        label="MOD_HP_MICROTRANSACTION_FORM_FIELD_SERVER_PASSWORD_LABEL"
        description="MOD_HP_MICROTRANSACTION_FORM_FIELD_SERVER_PASSWORD_DESC" />
</form>